
$color-font-black: #000000;
$color-font-white: #FFFFFF;

$color-red: #B02323;
$color-black-background: #000000;
$color-nearly-black: #1E1E1E;
$color-white-background: #FFFFFF;
$color-soft-grey: #D8D8D8;
$color-chalk-grey: #D6D6D6;
$color-grey: #595959;

$font-primary: Roboto;