@import "../settings/variables";
@import "../settings/mixins";

.porady_page{
  background-image: url("../img/2.jpeg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position-y: 70%;
  background-position-x: center;

  @include mobile{
    background-position-x: 50%;
    background-position-y: center;
  }
  .header1{
    margin-left: 5%;
  }
  .header3{
    padding-bottom: 30px;
    @include mobile{
      font-size: 1,5em;
    }
  }
}
.advice1, .advice3{
  background-color: $color-white-background;
  margin: 20px 50px 120px 50px;
  padding: 20px;
  line-height: 20px;
  font-family: $font-primary;
  font-weight: 300;
  @include mobile{
    margin: 20px 5% 100px 5%;
  }
}

.advice2{
  margin: 20px 50px 120px 50px;
  padding: 20px;
  line-height: 20px;
  font-family: $font-primary;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  background-color: $color-chalk-grey;
  opacity: 75%;
  width: 70%;
  @include mobile{
    margin: 20px 5% 100px 5%;
  }

  .circles_advice_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .circle_advice{
      width: 30%;
      justify-content: center;
      .header3{
        display: flex;
        justify-content: center;
        @include mobile{
          font-size: 1rem;
        }
      }
      p{
        @include mobile{
            font-size: 0.8rem;
        }
      }
    }
  }
}