@import "../settings/variables";
@import "../settings/mixins";

.menu_aside-container {
  height: 100%;
  .menu_aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 103px;
    gap: 18px;
    height: 100%;
    width: 10vw;
    background-color: $color-black-background;
    @include mobile{
      width: 16vw;
    }
    .menu_aside_element {
      margin: 0 0 0 15px;
      @include mobile {
      margin: 0 0 0 2px;
      }
      a{
        text-decoration: none;
        font-size: 14px;
        font-family: $font-primary, sans-serif;
        font-weight: bold;
        color: $color-font-white;
        @include mobile{
          font-size: 58%;
          font-weight: 300;
        }
      }
    }
  }
}