@import "../settings/variables";
@import "../settings/mixins";

.menu_aside-container {
  height: 100vh;
  position: absolute;
  .menu_aside {
    @include mobile{
      width: 15%;
    }
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 103px;
    gap: 18px;
    height: 100%;
    width: 10%;
    background-color: $color-black-background;
    .menu_aside_element {
      margin: 0 0 0 15px;
      @include mobile {
      margin: 0 0 0 2px;
      }
      a{
        text-decoration: none;
        font-size: 14px;
        font-family: $font-primary, sans-serif;
        font-weight: bold;
        color: $color-font-white;
        @include mobile{
          font-size: 60%;
          font-weight: 300;
        }
      }
    }
  }
}