@import "../settings/variables";
@import "../settings/mixins";

.menu_main-container {
  height: 60px;
  top: 10px;
  background-color: white;
  z-index: 500;
  position: sticky;
  box-shadow: 15px 3px 60px 2px $color-soft-grey;
  //border-bottom: 2px black solid;

  .menu_main {
    z-index: 500;

    height: 100%;
    display: flex;
    align-items: center;
    @include desktop {
      gap: 22px;
      margin-left: 100px;
    }
    @include mobile{
      gap: 5%;
      margin-left: 10%;
      line-height: 10px;
    }
    .menu_main_element, a{

      @include desktop{
        font-size: 16px;
      }
      @include mobile{
        font-size: 10px;
      }
      flex-direction: row;
      font-family: $font-primary;
      font-weight: 300;
      color: $color-font-black;
      text-decoration: none;
    }
  }
}
