@import "../settings/variables";
@import "../settings/mixins";

.one_pager{
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  // height: 90vh;
}
.main_page{
  //background-image: url("../img/img_main_page.jpeg");
  background-image: url("../img/img_main_page.jpeg");
  background-repeat: no-repeat;
  z-index: 200;
  height: 90%;
  @include desktop {
    padding-inline: 5%;
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    background-attachment: fixed;
    background-size: 66.5%;
    background-position: right;
    padding: 5%;
    // margin-left: 60px;
  }
  @include mobile{
    background-attachment: fixed;
    background-size: 100%;
    width: 90%;
    height: 55vh;
    padding: 5%;
    padding-top: 30vh;

    // margin-left: 5%;
  }


  .circles_workout-container{
    display: flex;
    @include mobile {
      // flex-wrap: wrap;
      justify-content: space-between;
    }

    .circles_workout{
      background-color: $color-white-background;
      border-radius: 50%;
      width: 170px;
      height: 170px;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      @include mobile{
        width: 30%;
        height: 100px;
        margin: 0;
      }
    }

  }
  .circles_workout-container :nth-of-type(1){
    border: 10px #E7E6E6 solid;
    @include mobile{
      border: 6px #E7E6E6 solid;
    }
    h2, a {
      border: none;
    }
  }
  .circles_workout-container :nth-child(2){
    border: 10px #CCCBCB solid;
    position: relative;
    @include mobile{
      border: 6px #CCCBCB solid;
    }
    h2, a {
      border: none;
    }
  }
  .circles_workout-container :nth-of-type(3){
    border: 10px #9D9D9D solid;
    position: relative;
    @include mobile{
      border: 6px #9D9D9D solid;
    }
    h2, a {
      border: none;
    }
  }
.about_platform{
  width: 295px;

  .about_platform_text{
    margin-right: 20px;
    padding-bottom: 20px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 300;

  }
}
  .header3 {
    margin-block: 20px 10px;
  }
}
