@import "../settings/variables";
@import "../settings/mixins";

.main_page{
  background-image: url("../img/img_main_page.jpeg");
  background-repeat: no-repeat;
  z-index: 200;

  @include desktop {
    background-attachment: fixed;
    background-size: 65%;
    background-position-x: 550px;
    margin-left: 60px;
  }
  @include mobile{
    background-size: 80%;
    background-position: 200% 0;
    margin-left: 10%;
  }
  .header1{
    font-family: $font-primary, sans-serif;
    font-weight: 300;
    @include desktop {
      font-size: 50px;
      margin: 0 0 20px 0;
      padding-top: 50px;
    }
    @include mobile{
      font-size: 30px;
      margin-block: 20px;
    }
  }
  .circles_workout-container{
    display: flex;
    .circles_workout{
      background-color: $color-white-background;
      border-radius: 50%;
      width: 170px;
      height: 170px;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      @include mobile{
        width: 100px;
        height: 100px;
        margin: 0;
      }
    }

  }
  .circles_workout-container :nth-of-type(1){
    border: 10px #E7E6E6 solid;
    h2, a {
      border: none;
    }
  }
  .circles_workout-container :nth-child(2){
    border: 10px #CCCBCB solid;
    position: relative;
    h2, a {
      border: none;
    }
  }
  .circles_workout-container :nth-of-type(3){
    border: 10px #9D9D9D solid;
    position: relative;
    h2, a {
      border: none;
    }
  }

  .header2{
    font-family: $font-primary;
    @include desktop {
      font-size: 24px;
      font-weight: bold;
    }
    @include mobile{
      font-size: 14px;
    }
    .chosen{
      color: $color-red;
      text-decoration: none;
    }
    .not_chosen{
      text-decoration: none;
      color: $color-font-black;
    }
  }
.about_platform{
  max-width: 300px;
  .header3{
    margin-block: 30px 20px;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 300;
  }
  .about_platform_text{
    margin-right: 20px;
    padding-bottom: 20px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 300;
  }
}
}