@import "../settings/variables";
@import "../settings/mixins";


.workout{
  @include desktop {
    padding-left: 60px;
  }
  @include mobile{
    padding: 5%;
  }
  background-color: $color-chalk-grey;
  .header4{
    padding-block: 10px 20px;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 300;
    color: $color-red;
  }
  .description_text{
    margin-bottom: 20px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    color: $color-font-white;
  }
  .workout_imgages, ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    @include desktop {
      margin-right: 100px;
      margin-bottom: 60px;
    }
    @include mobile{
      margin-bottom: 20%;
    }
    .workout_image {
      background-color: $color-white-background;
      display: flex;
      align-items: center;
      justify-content: center;

      @include desktop{
        margin-right: 40px;
        margin-bottom: 50px;
        height: 350px;
        width: 300px;
      }
      @include mobile{
        margin: 5%;
        height: 150px;
        width: 100px;
      }
      img {
        @include desktop{
          //min-height: 200px;
          max-height: 320px;
          max-width: 280px;
        }
        @include mobile{
          max-height: 120px;
          width: 80px;
        }

      }
    }
  }
}
