@import 'settings/reset';
@import "settings/variables";
@import "settings/mixins";

@import "sections/header";
@import "sections/aside";
@import "sections/footer";
@import "sections/main-page";
@import "sections/workout";
@import "sections/figures";
@import "sections/concact";
@import "sections/not_ready_page";
@import "sections/advice";


.page_container{
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  //background-color: $color-black-background;
}
.main_container{
  position: relative;
  width: 90%;
  height: 100%;
  clear: both;
  right: -10%;
  background-color: $color-white-background;
  @include mobile{
    position: relative;
    width: 90%;
    right: -15%;
  }
}

.header1{
  font-family: $font-primary, sans-serif;
  font-weight: 300;
  @include desktop {
    font-size: 50px;
    margin: 0 0 20px 0;
    padding-top: 40px;
  }
  @include mobile{
    font-size: 30px;
    margin-block: 20px;
  }
}

.header2{
  font-family: $font-primary;
  @include desktop {
    font-size: 24px;
    font-weight: bold;
  }
  @include mobile{
    font-size: 14px;
  }
  .chosen{
    color: $color-red;
    text-decoration: none;
  }
  .not_chosen{
    text-decoration: none;
    color: $color-font-black;
  }
}
.header3{
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
}
